@font-face {
  font-family: "Circe Rounded";
  src: local("Circe Rounded"),
    url("../../public/fonts/CirceRounded-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: local("Circe Rounded Bold"),
    url("../../public/fonts/CirceRounded-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Circe Rounded";
  src: local("Circe Rounded Light"),
    url("../../public/fonts/CirceRounded-Light.otf") format("opentype");
  font-style: normal;
  font-weight: light;
}
